@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    margin: 20rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #373633;
    border-right-color: rgba(55, 54, 51, 0.5);
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid #373633;
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi-Medium.otf");
  font-display: swap;
}
@font-face {
  font-family: "Satoshi-Bold";
  src: url("../public/fonts/Satoshi-Bold.otf");
  font-display: swap;
}

body {
  @apply text-fadedBlack;
}

p {
  @apply font-satoshi;
}

html {
  @apply scroll-pt-[15rem] w-[100%] h-[100vh];
}

body {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #373633;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px --var(fadedBlack);
  }
}
