@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rubik";
  font-weight: 200;
  src: url("../public/fonts/Rubik-VariableFont_wght.ttf");
}

body {
  @apply min-w-[550px] text-fadedBlack;
}

p {
  @apply font-rubik;
}

html {
  @apply scroll-pt-[15rem] w-[100%] h-[100vh];
}

@media screen and (max-width: 600px) {
  body,
  html {
    overflow-x: hidden;
  }
}
