@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    margin: 20rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #373633;
    border-right-color: rgba(55, 54, 51, 0.5);
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid #373633;
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  ::selection {
    background: #949e7b;
  }

  .cls-1 {
    fill: white;
  }
  .cls-2 {
    fill: #313423;
  }
  .cls-3 {
    fill: #949e7b;
  }
  .cls-4 {
    fill: #373633;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/modernsanslight.otf");
  font-display: swap;
}

body {
  @apply text-fadedBlack;
}

p,
label {
  @apply font-satoshi;
}

html {
  @apply scroll-pt-[15rem] w-[100%] h-[100vh];
}

body {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #373633;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px --var(fadedBlack);
  }
}

.content-fullname {
  display: none;
  position: absolute;
  top: 30px;
  font-size: 25px;
  background-color: #373633;
  color: #e7e1d7;
  padding: 5px;
  border-radius: 5px;
  text-wrap: nowrap;
  z-index: 10;
}
.content-email {
  display: none;
  position: absolute;
  top: 30px;
  font-size: 25px;
  background-color: #373633;
  color: #e7e1d7;
  padding: 5px;
  border-radius: 5px;
  text-wrap: nowrap;
  z-index: 10;
}

p[data-fullName]:hover + .content-fullname {
  display: inline;
  animation: bleh 0.5s forwards;
}

p[data-email]:hover + .content-email {
  display: inline;
  animation: bleh 0.5s forwards;
}

@keyframes bleh {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
