.menuButton {
  padding: 9.5px 15px;
  font-family: "Rubik";
  cursor: pointer;
}

.menu {
  z-index: 20;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 3.1rem;
  background: #b2b19f;
}
